<mat-toolbar color="primary">
  <button mat-icon-button (click)="onMenuToggleDispatch()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Libro Market</span>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout="row" fxLayoutGap=".5em" class="navegacion-menu">
      <li *ngIf="!estadoUsuario"><a routerLink="/registrar">Registar</a></li>
      <li *ngIf="!estadoUsuario"><a routerLink="/login">Login</a></li>
      <li *ngIf="estadoUsuario"><a routerLink="/">Home</a></li>
      <li *ngIf="estadoUsuario" (click)="terminarSesion()"><a routerLink="/">Salir</a></li>
    </ul>
  </div>
</mat-toolbar>
